# Virtual Environment
venv/
.env/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.env